<a href="https://colab.research.google.com/github/Neel7317/Deep-Learning-/blob/master/Breast%20Cancer%20Classification%20using%20ANN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
### Breast Cancer Classification
from google.colab import files
uploaded = files.upload()
for fn in uploaded.keys():
  print('Upload file "{name}" with length {length} bytes'.format
        (name=fn,length=len(uploaded[fn])))

In [ ]:
import pandas as pd
data = pd.read_csv('breast_cancer.csv')
data.head()
### M- Malignant , B - Benign

         id diagnosis  ...  fractal_dimension_worst  Unnamed: 32
0    842302         M  ...                  0.11890          NaN
1    842517         M  ...                  0.08902          NaN
2  84300903         M  ...                  0.08758          NaN
3  84348301         M  ...                  0.17300          NaN
4  84358402         M  ...                  0.07678          NaN

[5 rows x 33 columns]

In [ ]:
data['diagnosis'].value_counts()

In [ ]:
import seaborn as sns
sns.countplot(data['diagnosis'])

In [ ]:
data.drop(["Unnamed: 32"],axis=1,inplace=True)
data.head()

In [ ]:
y = data.iloc[:,1].values
x = data.iloc[:,2:].values

In [ ]:
#### Encoding the categorical data
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
y = label_encoder.fit_transform(y)
y

In [ ]:
#### Split the data into training and testing
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.20)

In [ ]:
#### Scaling/Normalization
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
xtrain = sc.fit_transform(xtrain)
xtest = sc.fit_transform(xtest)

In [ ]:
from keras.models import Sequential
from keras.layers import Dense

In [ ]:
##### Create the model
model = Sequential()

In [ ]:
#### Adding the layers
model.add(Dense(16,input_dim=30,activation='relu'))  ### input layer  ###multiple of 16
model.add(Dense(16,activation='relu'))  ### hidden layer
model.add(Dense(1,activation='sigmoid'))  ### output layer

In [ ]:
#### Compile the model
model.compile(optimizer='adam',loss='binary_crossentropy',metrics = ['accuracy'])

In [ ]:
#### Train the model
model.fit(xtrain,ytrain,epochs=150)

In [ ]:
ypred = model.predict(xtest)
ypred

In [ ]:
ypred = ypred>0.5
ypred

In [ ]:
ytest

In [ ]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(ytest,ypred)
cm

array([[70,  0],
       [ 3, 41]])

In [ ]:
import seaborn as sns
sns.heatmap(cm,annot=True)

In [ ]:
from sklearn.metrics import accuracy_score
accu = accuracy_score(ytest,ypred)
accu

0.9736842105263158

In [ ]:
from sklearn.metrics import mean_squared_error
mean_squared_error(ytest,ypred)

0.02631578947368421

In [ ]:
import numpy as np
a = np.array([17.99	,10.38	,122.80	,1001.0	,0.11840,	0.27760,	0.3001,	0.14710	,0.2419,	0.07871,	1.0950,	0.9053,	8.589,	153.40,	0.006399,	0.04904,	0.05373	,0.01587,	0.03003	,0.006193,	25.38,	17.33,	184.60,	2019.0	,0.1622,	0.6656,	0.7119,	0.2654	,0.4601,	0.11890])

In [ ]:
a =a.reshape(1,30)

In [ ]:
model.predict(a)

array([[1.]], dtype=float32)

In [ ]:
xtrain.shape

(455, 30)